body {
    font-family: Roboto, sans-serif;
    color: #212121;
}
.link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
}
.address {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.71;
}
.address .link {
    line-height: 1.71;
}
.link.active {
    color: #2196F3;
}
.link.contact {
    color: #757575;
}
.link.logo,
.link.logo:visited {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #000000;
    line-height: 1.19;
}
.link.logo.footer {
    color: #ffffff;
}
.logo-blue,
.logo-blue:visited {
    color: #2196F3;
}
.list {
    list-style-type: none;
}
.button {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    background-color: #2196F3;
    color: #FFFFFF;
    border: 0px;
    line-height: 1.88;
}
li .button {
    font-weight: 500;
    background-color: #F5F4FA;
    color: #212121;
    line-height: 1.63;

}
li .button:hover,
li .button:focus {
    font-weight: 500;
    background-color: #2196F3;
    color: #FFFFFF;

}
.address li {
    color: #ffffff;
}
.address .link {
    color: #ffffff;
    opacity: 60%;
}
.link:hover,
.link:active {
    color: #2196F3;
}
.headline .h {
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    color: #FFFFFF;
}
.about .h {
    font-size: 14px;
    line-height: 1.14;
}
.what-we-do .h {
    font-size: 36px;
    line-height: 1.17;
}
.our-team .h {
    font-size: 36px;
    line-height: 1.17;
}
.our-team .list .h {
    font-size: 16px;
    line-height: 1.19;
    font-weight: 500;
}
.examples .h {
    font-size: 18px;
    line-height: 2;
}
.about .txt-gray {
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}
.our-team .txt-gray {
    line-height: 1.19;
    color: #757575;
}
.examples .txt-gray {
    line-height: 1.88;
    color: #757575;
}